.team-container {
	list-style-type: none;
}

.member {
	margin: 20px;
	padding-bottom: 10px;
	border: 1px solid #37003C;
	border-radius: 15px;
	background-color: white;
	box-shadow: 10px 10px 5px #3c3c3c;
}

.member-name {
	text-align: center;
	color: #37003C;
}

.member-image {
	border: 1px solid #37003C;
	border-radius: 15px;
}

.links div {
	margin: 30px 0;
}

.links a {
	font-size: 16px;
}