body, header, h1, di, img, a, nav, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #41AAC4;
    
}

#pos-fixed {
    position: fixed;
    width: 100%;
    z-index: 1;
}

#header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#05f1ff+0,28a0ff+100 */
    background: rgb(5,241,255); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(5,241,255,1) 0%, rgba(40,160,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(5,241,255,1) 0%,rgba(40,160,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(5,241,255,1) 0%,rgba(40,160,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05f1ff', endColorstr='#28a0ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    color: #37003C;
    font-family: 'Ravi Prakash', cursive;
    font-size: 20px;
    border-bottom: 1px solid black;
}

#header h1 {
    margin-left: 20px;
    font-size: 60px;
    font-weight: bolder;
}

#header h1 a {
    color: #37003C;
}

#header h1 a:hover {
    text-decoration: none;
}

#user-info {
    margin-top: 5px;
}

#user-info a {
    display: inline-block;
    color: #37003C;
    font-size: 20px;
}

#user-info .profile-picture {
    width: 40px;
    height: 40px;
}

#nav-list {
    font-family: 'Comic Sans MS';
    list-style-type: none;
    background-color: #37003C;
}

.nav-list-item {
    border: 1px solid rgb(5,241,255);
    border-radius: 5px;
    text-align: center;
}

.nav-list-item:hover {
    background-color: rgb(5,241,255);
}

.nav-list-item:hover a {
    color: #37003C;
}

.nav-list-item a {
    color: white;
    font-size: 18px;
}

#container {
    position: absolute;
    top: 100px;
    overflow: auto;
}

.notifications-container .unconfirmed-requests {
    padding: 5px;
    background-color: mediumspringgreen;
    border: 1px solid green;
    border-radius: 10px;
    text-align: center;
}

.notifications-container .unreader-messages {
    padding: 5px;
    background-color: dodgerblue;
    border: 1px solid darkblue;
    border-radius: 10px;
    text-align: center;
}

.notifications-container .unreader-messages a {
    color: #fff;
}