.post {
    background-color: aquamarine !important;
    border: 1px solid #37003C;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
}

.post img {
    border-radius: 60px;
    width: 100px;
    height: 70px;
}

.post .username a {
    font-size: 20px;
}

.leftOption {
    float: left;
}

.rigthOption {
    float: right;
    margin-left: 100px;
}

#listOfOption {
    list-style: none;
}