#container {
    position: absolute;
    top: 20%;
}

#messages-header {
    text-align: center;
    color: #fff;
}

#messages {
    margin: 0 15%;
    border-radius: 10px;
    background-color: #fff;
    max-width: 70%;
}

.message-container {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #37003C;
}

.message-container .message {
    margin: 10px;
}

.message-container .user-image {
    width: 70px;
    height: 70px;
    border-radius: 20px;
}