.post {
    background-color: #eee !important;
    border-radius: 5px;
    padding: 5px;
    margin: 15px;
    box-shadow: 5px 5px 5px #5f5f5f;
}

.post img {
    border-radius: 60px;
    width: 100px;
    height: 70px;
}

.post .username a {
    font-size: 20px;
}

.post .likes {
    color: #37003C;
    font-size: 18px;
}

.post .likes span {
    color: darkblue;
}

.just-text {
    display: inline-block;
    margin: 0 10px;
}

.post-date {
    font-size: 16px;
    color: #37003c;
}

.hidden {
    display: none;
}