#messages-header {
    text-align: center;
    color: #fff;
}

#messages {
    margin: 0 15%;
    border-radius: 10px;
    background-color: #fff;
    max-width: 70%;
}

.message-container {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #37003C;
}

.message-container .message {
    margin: 10px;
}

.date {
    color: #37003C;
    border-bottom: 1px solid #37003C;
}

.content {
    padding: 10px;
    font-size: 16px;
}

.message-container .user-image {
    width: 70px;
    height: 70px;
    border-radius: 20px;
}