#messages-header {
    text-align: center;
    color: #fff;
}

#messages {
    margin: 0 15%;
    border-radius: 10px;
    max-width: 70%;
}

.message-container {
    background-color: #fff;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 10px 10px 5px #4f4f4f;
}

.message-container .message {
    margin: 10px;
}

.author-username a {
    margin: 0 10px;
}

.date {
    color: #37003C;
    border-top: 1px solid #37003C;
}

.content {
    padding: 10px;
    font-size: 16px;
    overflow-wrap: break-word;
}

.message-container .user-image {
    width: 70px;
    height: 70px;
    border-radius: 20px;
}