doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title
            | Ninja`s Social Network:
            block site-title
        block style
        link(href="https://fonts.googleapis.com/css?family=Ravi+Prakash" rel="stylesheet")
        link(rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css")

    body
    #container
        block container