<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Error
    link(rel="stylesheet" href="/static/css/error.css")
body
    h1
        | This page not exist
    a(href="/") Go to Startup page
    a(href="/home") Go to Home page
    