doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title="Ninja`s Social Network"
        link(rel="stylesheet" href="./css/index.css")
        link(href="https://fonts.googleapis.com/css?family=Ravi+Prakash" rel="stylesheet")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

    body
        header(id="header" class="row")
            h1(class="col-sm-6") Wellcome to Ninja`s Social Network
            div(id="login-form" class=" col-sm-3 col-sm-offset-2")
                form(action="login" class="form-horizontal")
                    label(for="email") Email
                    input(type="text" id="email" class="form-control")
                    label(for="email") Password
                    input(type="password" id="password" class="form-control")
                    a(href="/login" class="btn btn-primary form-control") Log in
        main(id="main" class="row")
            div(id="register-form" class="col-sm-5 col-md-offset-3")
                <form action="register" class="form-horizontal">
                    label(for="email") Email
                    input(type="text" class="email form-control")
                    label(for="email") Password
                    input(type="password" class="password form-control")
                    label(for="email") Firstname
                    input(type="text" class="firstname form-control")
                    label(for="email") Lastname
                    input(type="text" class="lastname form-control")
                    a(href="#" class="btn btn-default form-control") Register