doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title="Ninja`s Social Network"
        link(rel="stylesheet" href="/static/css/index.css")
        link(href="https://fonts.googleapis.com/css?family=Ravi+Prakash" rel="stylesheet")
        link(rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css")

    body
        header(id="header" class="row")
            h1(class="col-sm-6") Wellcome to Ninja`s Social Network
            div(id="login-form" class=" col-sm-3 col-sm-offset-2")
                form(method="post" action="/login" class="form-horizontal")
                    label(for="email") Email
                    input(type="text" id="email" name="username" class="form-control")
                    label(for="email") Password
                    input(type="password" id="password" name="password" class="form-control")
                    input(type="submit" class="btn btn-primary form-control" value="Log in")
        main(id="main" class="row")
            div(id="register-form" class="col-sm-5 col-md-offset-3")
                form(method="post" action="/register" class="form-horizontal")
                    label(for="email") Email
                    input(type="text" name="email" class="email form-control")
                    label(for="email") Password
                    input(type="password" name="password" class="password form-control")
                    label(for="email") Firstname
                    input(type="text" name="firstname" class="firstname form-control")
                    label(for="email") Lastname
                    input(type="text" name="lastname" class="lastname form-control")
                    input(type="submit" class="btn btn-default form-control" value="Register")
            
            a.col-sm-offset-1.anonymous-enter(href="/home") Enter without having profile