<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Catch ya
    link(rel="stylesheet" href="/static/css/no-auth.css")
    link(rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css")
body
    div.error-container.col-sm-offset-3
        h1.message
            | We are Ninjas so don`t try this!
        a.link.col-sm-offset-1(href="/home") Go back to Home page please!
        