extends _layout
block site-title
    | Friends
block style
    link(rel="stylesheet" href="/static/css/user-friends.css")
block container
    div(class="search")
        form(id="search-form" method="post" action=`/friends` class="form-inline")
            div(class="form-group")
                label(for="search")
                input(type="text" name="search" id="search" class="search form-control col-sm-6")
                input(type="submit" class="btn btn-default form-control col-sm-2" value="Search")