extends _layout
block site-title
    | Home Page
block style
    link(rel="stylesheet" href="/static/css/user-home.css")
    
block container
        main(id="main")
            each post in posts
                div(class="post row col-sm-7 col-sm-offset-2")
                    header(class="row")
                        img(src=post.image alt="" class="user-image col-sm-6")
                        div(class="username col-sm-5")
                            a(href="#") #{post.author}
                    div(class="post-content row col-sm-11 col-sm-offset-1")
                        p #{post.content}
                    div(class="post-buttons row col-sm-12")
                        button(class="btn btn-primary like col-sm-2") Like
                        button(class="btn btn-primary comments col-sm-3 col-sm-offset-1") View comments
                        div.likes(class="col-sm-2 col-sm-offset-4") Likes: 
                            span #{post.likes}
            