extends _layout
block site-title
    | Home Page
block style
    link(rel="stylesheet" href="/static/css/user-home.css")
    link(rel="stylesheet" href="/static/css/user-messages.css")
    
block container
    h2#messages-header 
        | Your messages
    div#messages
        each message in messages
            div.message-container
                header.message-header
                        img(src= message.image alt="" class="user-image")
                        div.author-username
                            a(href=`/users/${message.author}/profile`) #{message.author}
                div.message
                    | #{message.content}